<div class="container-fluid">

  <div class="card">

    <div class="card-header">
      <h3>Controle de Estoque</h3>
    </div>

    <div class="card-body">

      <table class="table">

        <thead>
          <tr>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Status</th>
          </tr>
        </thead>

        <tbody>

          <tr>
            <td>Mouse Gamer</td>
            <td>2</td>

            <td>
              <span class="badge bg-danger">
                Estoque Baixo
              </span>
            </td>
          </tr>

        </tbody>

      </table>

    </div>

  </div>

</div>
